/* FOOTER */
.footer {
    color: white;
    background-color: black;
    border-top: 1px solid var(--grey);
}
/* SOCIAL MEDIA */
.social-media {
    vertical-align: text-top;
}
.open-hours1 {
    line-height: 1.1rem;
    font-size: 0.9rem;
}
.contactt {
    font-size: 0.9rem;
}
/* END OF FOOTER */