@import './arrow.css';
/* HOME */
.custom-home {
  background-color: gold;
  border-radius: 10px;
  padding: 5px;
  color: var(--grey);
  transform: translate(-7px, -3px);
}
.main-color-fix {
  color: gold!important;
}
.fix-main-pic {
  padding-right: 0;
  padding-left: 0;
}
.main-pic {
  position: relative;
  background-image: url('../img/home-images/homepage.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  height: 800px;
}
.positionimg {
  position: relative;
}
.fix-margin {
  top: 10px;
}
.text1  {
  width: 350px;
  height: 115px;
  opacity: 0.8;
}
.text11 {
  position: absolute;
  text-align: center;
  color: black;
  top: 7px;
  left: 60px;
  font-family: DriftWood;
  text-shadow: -1px 0 black, 0 1px black;
  font-size: 2.4rem;
  cursor: default;
}
.text2  {
  width: 380px;
  height: 60px;
  opacity: 0.8;
}
.text22 {
  position: absolute;
  text-align: center;
  color: black;
  top: 14px;
  left: 55px;
  font-family: Woodplank;
  text-shadow: -1px 0 black, 0 1px black;
  font-size: 2rem;
  cursor: default;
}
.fix-l {
  position: absolute;
  width: 14px;
  height: 5px;
  border: 1px solid black;
  border-radius: 10px;
  left: 271px;
  top: 28px;
  transform: rotate(-31deg);
  box-shadow: 1px 1px black;
}
.flex-items-inside {
  display: flex;
  flex-direction: column;
}
.first-header {
  margin-top: 70px;
}
/* END OF HOME */