@import './arrow.css';
/* HOME */
.main-color-fix {
  color: gold!important;
}
.fix-main-pic {
  padding-right: 0;
  padding-left: 0;
}
.main-pic {
  position: relative;
  background-image: url('../img/home-images/homepage.png');
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: table;
  width: 100%;
  height: 800px;
}




.margin-fix {
  margin-top: 10px;
}
.main-text-block {
  position: absolute;
  display: block;
  bottom: 90px;
}


/* HOME IMAGES */
.img11 {
  position: relative;
  display: inline-block;
  width: 370px;
  height: 120px;
}
.img22 {
  position: relative;
  display: inline-block;
  width: 350px;
  height: 60px;
}

/* HOME TEXT */
.text11 {
 position: absolute;
 display: inline-block;
 color: white;
 font-family: DriftWood;
 font-size: 2.4rem;
 color: black !important;
 text-shadow: -1px 0 black, 0 1px black;
 top: 12px;
 left: 40px;
 cursor: default;
}
.text11 span {
  margin-left: 20px;
}
.text22 {
  position: absolute;
  display: inline-block;
  color: white;
  font-family: WoodPlank;
  font-size: 2rem;
  color: black !important;
  text-shadow: -1px 0 black, 0 1px black;
  top: 144px;
  left: 40px;
  cursor: default;
}



.fix-l {
  position: absolute;
  width: 14px;
  height: 5px;
  border: 1px solid black;
  border-radius: 10px;
  left: 256px;
  top: 157px;
  transform: rotate(-31deg);
  /* box-shadow: 1px 1px black; */
}
@media (max-width: 576px) {
  .main-text-block {
    margin: 0;
  }
  .fix-l {
    width: 14px;
    height: 5px;
    border: 1px solid black;
    border-radius: 10px;
    left: 216px;
    top: 158px;
    transform: rotate(-31deg);
    box-shadow: 1px 1px black;
  }
  .img11 {
    width: 280px;
    height: 120px;
  }
  .img22 {
    width: 280px;
    height: 60px;
  }
  .text11 {
    font-size: 2.1rem;
    top: 17px;
  }
  .text22 {
    font-size: 1.8rem;
    top: 147px;
    left: 22px;
  }
  .home-arrow {
    left: 270px;
  }
  .arrow span {
    height: 15px;
    width: 15px;
  }
}
@media (min-width: 576px) {
  .main-text-block {
    margin-left: 20px;
  }
}

@media (min-width: 768px) {
  .main-text-block {
    margin-left: 40px;
  }
}

@media (min-width: 992px) {
  .main-text-block {
    margin-left: 60px;
  }
}

@media (min-width: 1200px) {
  .main-text-block {
    margin-left: 70px;
  }
}
.first-header {
  margin-top: 70px;
}
/* END OF HOME */