@import './arrow.css';
/* HOME */
.main-color-fix {
  color: gold!important;
}
.fix-main-pic {
  padding-right: 0;
  padding-left: 0;
}
.main-pic {
  position: relative;
  background-image: url('../img/home-images/homepage.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  height: 800px;
}

.main-text-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  width: 350px;
}
@media (max-width: 768px) {
  .main-text-block {
    margin-left: 0px;
  }
  .img-home1{
    width: 330px;
    height: 120px;
    opacity: 0.8;
    cursor: pointer;
  }
  .img-home2{
    width: 330px;
    height: 60px;
    opacity: 0.8;
    margin-top: 10px;
    cursor: pointer;
  }
}
@media (min-width: 768px) {
  .main-text-block {
    margin-left: 65px;
  }
  .img-home1{
    width: 360px;
    height: 120px;
    opacity: 0.8;
    cursor: pointer;
  }
  .img-home2{
    width: 360px;
    height: 60px;
    opacity: 0.8;
    cursor: pointer;
    margin-top: 10px;
  }
}
.first-header {
  margin-top: 4rem;
}
.heading-text strong {
  font-size: 2rem;
}
.home1 {
  display: flex;
}
.home-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.home-icons p {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2rem;
}
.home-icons1 {
  margin-bottom: 1.7rem;
  color: gold;
  background-color: var(--grey);
  border: 1px solid gold;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  padding: 20px;
}
/* END OF HOME */