/* SERVICE */
.suspension-icon {
    margin-right: -25px;
}
.card {
  border: 4px solid var(--grey);
  border-radius: 0.5rem;
}
.card-header {
    text-align: center;
    color: white;
    background-color: var(--grey);
}
.card-body {
  background-color: black;
  color: white;
  font-size: 1.25rem;
}
.head-service {
  font-size: 1.1rem;
  background-color: var(--grey);
  line-height: 1.5;
  white-space: pre-wrap;
}
.head-service span {
  color: gold;
}
.items-inside {
  margin: auto;
  margin-top: 2rem;
}
.custom-list {
  list-style-type: none;
}
.custom-bullet {
  background-color: green;
  color: white;
  border-radius: 5px;
  transform: translate(-8px, -1px);
}
.price {
  font-size: 1.1rem;
}
.custom-exc {
  background-color: green;
  border-radius: 5px;
  padding: 1px;
  color: var(--grey);
  transform: translate(-7px, -1px);
}
.custom-plus {
  background-color: green;
  border-radius: 5px;
  padding: 1px;
  color:var(--grey);
  transform: translate(-7px, -1px);
}
.custom-angle {
  background-color: green;
  border-radius: 5px;
  padding: 1px;
  color:var(--grey);
  transform: translate(-7px, -1px);
}
.title-height {
  font-weight: 600;
}
.custom-alert {
  background-color: var(--grey);
  font-size: 1rem;
}
.custom-alert2 {
  width: 100%;
  font-weight: 800;
  font-size: 1.1rem;
}
.service-images {
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
  background-color: var(--grey);
  border: none;
}
.supertext {
  text-align: center;
  margin-top: -25px;
  margin-bottom: 30px;
  font-size: 2.2rem;
  font-family: 'Courier New', Courier, monospace;
  color: gold;
  text-shadow: -5px 0 black, 0 5px black;
  letter-spacing: 3px;
  padding: 10px;
  border-radius: 10px;
  opacity: 0.8;
}
.service-icons-left {
  border-radius: 10px;
  padding: 5px;
  color: gold;
  background-color: var(--grey);
  border: 1px solid gold;
  transform: translate(-10px, -2px);
  box-shadow: -2px 0 black, 0 2px black;
}

/* MOBILE PADDING FIX */
@media (max-width: 576px) {
  .supertext {
    letter-spacing: 0px;
  }
}

@media (min-width: 768px) {
  .supertext {
    letter-spacing: 5px;
  }
}

/* MOBILE ICONS */
.hide-icons {
  display: none;
}
.mobile-alert {
  display: none;
}
.hide-alert {
  display: block;
}

@media (max-width: 992px) {
  .hide-icons {
    display: flex;
  }
  .mobile-alert {
    display: block;
  }
  .hide-alert {
    display: none;
  }
  #sus {
    margin-top: 100px;
  }
}

.icon-styles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.icon-styles p {
  text-align: center;
  margin-top: 10px;
  font-size: 1.5rem;
  font-family: 'Courier New', Courier, monospace;
}
.iconed {
  width: 100px;
  height: 100px;
  border: 4px solid gold;
  background-color: var(--grey);
  color: gold;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconed:hover {
  border: 4px solid var(--grey);
  background-color: gold;
  color: var(--grey);
  flex-grow: 0.1;
}
/* END OF SERVICE */