:root {
  --grey: #212121;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #000000;
  color: #ffffff;
}
.fix-top {
  margin-top: 25px;
}
.custom-hr {
  border-top: 1px solid var(--grey);
}
.border-block {
  width: 50px;
  height: 10px;
  background-color: var(--grey);
  border: 2px solid gold;
  border-radius: 5px;
  margin-top: 5px !important;
  margin-bottom: 20px !important;
  margin: auto;
}
/* HEADINGS */
.heading-text {
  font-size: 2rem;
  text-align: center;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}
.custom-icon {
  background-color: gold;
  border-radius: 10px;
  padding: 5px;
  color: var(--grey);
  transform: translate(-7px, -3px);
}
/* COOKIES */
.cookies {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: 7px;
  background-color: black;
  border-top: 1px solid gold;
  text-align: center;
}
.cookies-text {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cookies-text p {
  margin-top: 15px;
}
.cookies-button {
  margin-left: 20px;
  color: gold;
  background-color: var(--grey);
  border: 1px solid gold;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
}
.cookies-button:hover {
  color: var(--grey);
  background-color: gold;
}
.cookies-icon {
  width: 40px;
  height: 40px;
  color: gold;
  background-color: var(--grey);
  border: 1px solid gold;
  border-radius: 20px;
  padding: 6px;
  margin-right: 15px;
  margin-top: 5px;
}
/* FIX NAVBAR */
.blank-div {
  width: 100%;
  height: 130px;
}

@import './css/image-gallery.css';
@import './css/animations.css';
@import './css/navbar.css';
@import './css/footer.css';
@import './css/home.css';
@import './css/service.css';
@import './css/contact.css';
